<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
    <insert parameterType="sungtae.spring.mvc.vo.BoardVO" statementType="PREPARED" id="insertBoard">
        insert into Board (title, userid, contents)
        values (#{title}, #{userid}, #{contents})
    </insert>

    <select parameterType="int" statementType="PREPARED" id="selectList" resultType="sungtae.spring.mvc.vo.BoardVO">
        select bno, title, userid, regdate, thumbs, views from Board
        order by bno desc
        limit #{startnum}, 10
    </select>

    <select parameterType="String" statementType="PREPARED" id="selectOne" resultType="sungtae.spring.mvc.vo.BoardVO">
        select * from Board
        where bno = #{bno};
    </select>

    <update parameterType="sungtae.spring.mvc.vo.BoardVO" statementType="PREPARED" id="updateBoard">
        update Board
        set title = #{title}, contents = #{contents}, regdate = current_timestamp()
        where bno = #{bno}
    </update>

    <delete parameterType="String" statementType="PREPARED" id="deleteBoard">
        delete from Board
        where bno = #{bno}
    </delete>

    <select statementType="PREPARED" id="countBoard" resultType="int">
        select count(bno) cnt from Board
    </select>
    <update parameterType="String" statementType="PREPARED" id="viewCount">
        update Board
        set views = views + 1
        where bno = #{bno}
    </update>
    <select statementType="PREPARED" id="findCountBoard" parameterType="map" resultType="int">
        select count(bno) cnt from Board
        <if test="findType != 'ticon'">
            where ${findType} like concat(#{findKey},'%')
        </if>
        <if test="findType == 'ticon'">
            where title like concat(#{findKey},'%')
            or contents like concat(#{findKey},'%')
        </if>
    </select>
    <select id="findSelectList" statementType="PREPARED" parameterType="map" resultType="sungtae.spring.mvc.vo.BoardVO">
        select bno, title, userid, regdate, thumbs, views from Board
        <if test="findType != 'ticon'">
            where ${findType} like concat(#{findKey},'%')</if>
        <if test="findType == 'ticon'">
            where title like concat(#{findKey},'%')
            or contents like concat(#{findKey},'%')</if>
        order by bno desc
        limit #{snum}, 10
    </select>

</mapper>
