<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
    <insert id="insertBoard" statementType="PREPARED"
        parameterType="sungtae.spring.mvc.vo.BoardVO">
        insert into Board (title, userid, contents)
        values (#{title}, #{userid}, #{contents});
    </insert>
    <select id="selectList" statementType="PREPARED" parameterType="int"
            resultType="sungtae.spring.mvc.vo.BoardVO">
        select bno, title, userid, regdate, thumbs, views from Board
        order by bno desc
        limit #{startnum}, 10;
    </select>
    <select id="selectOne" statementType="PREPARED"
            parameterType="String"
            resultType="sungtae.spring.mvc.vo.BoardVO">
        select * from Board where bno = #{bno};
    </select>
    <update id="updateBoard" statementType="PREPARED"
            parameterType="sungtae.spring.mvc.vo.MemberVO">
        update Board
        set title = #{title}, contents = #{contents}, regdate = current_timestamp()
        where bno = #{bno};
    </update>
    <delete id="deleteBoard" statementType="PREPARED"
            parameterType="sungtae.spring.mvc.vo.MemberVO">
        delete from Board where bno = #{bno};
    </delete>
    <select id="countBoard" statementType="PREPARED" resultType="int">
        select count(bno) cnt from Board;
    </select>
    <update id="viewCount" statementType="PREPARED" parameterType="String">
        update Board
        set views = views + 1
        where bno = #{bno};
    </update>
</mapper>